@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* RESET STYLE */
html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(244, 242, 242);
}

html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

* {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

/* Website Style */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding: 2rem;
    text-align: center;
    width: 60vw;
}

p,h1,h2,h3,h4,h5,h6,a {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 980px) {
    .container {
        max-width: 1280px;
    }
}

.title {
    font-size: 2.3vw;
}

.source-dropzone,.from-dropzone {
    border: 2px solid rgb(187, 187, 187);
    background: white;
    height: 200px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.source-dropzone,.from-dropzone p {
    font-size: 2vw;
}
.source-dropzone:hover {
    transition: 0.1s;
    background-color: rgb(244, 244, 244);
}
.source-dropzone:active {
    transition: 0.1s;
    background-color: rgb(229, 229, 229);
}

.from-dropzone {
    background: rgb(255, 233, 193);
}
.from-dropzone:hover {
    transition: 0.1s;
    background: rgb(241, 220, 182);
}
.from-dropzone:active {
    transition: 0.1s;
    background: rgb(222, 203, 168);
}

.process {
    border: 2px solid rgb(187, 187, 187);
    background: rgb(153, 255, 112);
    height: 100px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.process p {
    font-size: 1.5vw;
}
.process:hover {
    transition: 0.1s;
    background: rgb(145, 241, 106);
}
.process:hover {
    transition: 0.1s;
    background: rgb(135, 226, 100);
}

img {
    width: 15%;
}